<?xml version="1.0"?>
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.6/phpunit.xsd"
	bootstrap="tests/bootstrap.php"
	colors="true"
	failOnRisky="true"
	failOnWarning="true"
	cacheResultFile=".phpunit.result.cache"
	beStrictAboutOutputDuringTests="true"
	beStrictAboutTestsThatDoNotTestAnything="true"
>
	<testsuites>
		<!-- Foundation suite: bootstrap, fixtures, build tooling (M0). -->
		<testsuite name="foundation">
			<directory>tests</directory>
			<exclude>tests/fixtures</exclude>
		</testsuite>
	</testsuites>
</phpunit>
